.UserWallet__balance {
  padding-bottom: 1rem;
}
tbody {
    border: none!important;
    background: transparent!important;
}
table tbody tr:nth-child(even) {
    background: transparent;
}
.column.small-12 {
    color: #7e888a;
}
h4 {
    color: #4f8ef7;
}
